<div id="menu" class="menu-bar" role="navigation">
   <label class="nome-projeto">Kimeros</label>
   <ul>
       <li><a href="{{ base_url('dashboard') }}"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
       <li><a href="{{ base_url('cadastro/rastreado') }}"><i class="fas fa-car"></i> Rastreado</a></li>
       <li><a href="{{ base_url('cadastro/equipamento') }}"><i class="fas fa-microchip"></i> Equipamento</a></li>
      <li><a href="{{ base_url('relatorio/evento') }}"><i class="fas fa-road"></i> Eventos</a></li>
      {# <li><a href="#"><i class="fas fa-cog"></i> Conta</a></li> #}
  </ul>

  <div class="ajuste-overflow-menu"></div>
</div>